.App {
  min-height: 100vh;
}

.App--light {
  color: #444;
  background: #f5f5f5;
}

.App--dark {
  color: #e8eaed;
  background: #202124;
}

.App__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
}

.App__section {
  padding: 16px;
  display: flex;
  justify-content: center;
}
